$font-family-main: "Roboto", sans-serif !default;
$font-family-base: $font-family-main;

$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-size-small: 16px;
$font-size-base: 18px;
$font-weight-base: $font-weight-normal !default;

$size-20: 20px;
$size-50: 50px;
$size-70: 70px;

$link-color: #252525;
$grid-block-bg: #cccccc;
$border-bottom-color: #9e9c9c;
$side-bg: #eeeeee;
$parallax-bg: #dddddd;
$parallax-tint-color: rgba(0, 0, 0, 0.5);
$logo-bg: #868786;
$menu-hover: #807e7e;
